# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs / Editors
.vscode/
.idea/

# Data
data/raw/
data/processed/
TU_simple/
CULane/

# Logs & outputs
*.log
*.out
*.txt
*.csv
*.json

# Models & checkpoints
*.h5
*.pth
*.pt
*.ckpt

# Training outputs
runs/
checkpoints/
outputs/
*.npy

# Videos & images (generated demos)
demo/*.mp4
*.avi
*.png
*.jpg

# OS backup files
*~
